.wrapper {
    min-height: 100vh;
    width: 100%;
    box-sizing: border-box;
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.math {
    height: 100dvh;
}

.button {
    background-color: #161617;
    color: #fff;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 10px;

    &:hover {
        background-color: #212123;
        color: #979fd0;
    }

    &:active {
        background-color: #2a2a2d;
        color: #7781d7;
    }
}

/*
.wrapper > div {
    background-color: #2e333d;
    border-radius: 15px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: max-content;
    padding: 20px;
    margin-bottom: 10px;
    justify-content: center;
    flex-direction: column;
    color: white;
}*/
