.wrapper {
    /*background-color: #191e45;*/
    background-color: #1e1b2e;
    border-radius: 20px;
    padding: 20px 20px 20px;
    display: flex;
}

.wrapper > div {
    background-color: #191e45;
    padding: 10px;
    border-radius: 20px;
}

.name {
    font-size: 24px;
    height: 30px;
    margin: 20px 0 0 20px;
}

.avatar {
    height: 200px;
    width: 200px;
}

.avatar img {
    border-radius: 20px;
    position: absolute;
}

.svg {
    position: absolute;
}

img:not([src]) {
    font-size: 0;
    width: 0;
    height: 0;
}