.wrapper {
    width: 70px;
    height: 70px;
    text-align: center;
    margin-bottom: 5px;
    color: #fff;
}

.wrapper > svg {
    width: 40px;
    height: 40px;
}

.wrapper > svg > path {
    fill: #a9a9a9;
}
.text {
    color: #a9a9a9;
}

.active > div > span {
    color: #fff;
    /*#9a680e*/
}

.active > div > svg > path {
    fill: #fff;
}

$mobileWidth: 510px;
@media (max-width: $mobileWidth) {
    .wrapper {
        width: 30px;
        height: 30px;
        padding: 0 5px;
        font-size: 10px;
    }

    .wrapper > svg {
        width: 20px;
        height: 20px;
    }
}

@media (max-height: 480px) {
    .wrapper {
        width: 50px;
        height: 50px;
    }

    .wrapper > svg {
        width: 30px;
        height: 30px;
    }
}