.wrapper {
    display: grid;
    grid-template-rows: 1fr auto;
    max-height: calc(100dvh - 85px);
}

@media (max-width: 510px) {
    .wrapper {
        max-height: calc(100dvh - 135px);
    }
}

.messages {
    display: block;
    padding: 10px 250px 0 250px;
    align-items: end;
    overflow-y: scroll;
    position: relative;
}

@media (max-width: 600px) {
    .messages {
        padding: 10px 10px 0;
    }
}

@media (min-width: 601px) and (max-width: 1050px) {
    .messages {
        padding: 10px 60px 0;
    }
}

@media (min-width: 1051px) and (max-width: 1500px) {
    .messages {
        padding: 10px 100px 0;
    }
}

.messages::-webkit-scrollbar {
    width: 4px;
}
.messages::-webkit-scrollbar-track {
    border-radius: 1px;
    background-color: transparent;
}

.messages::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #7D7D7D;
}

.messages::-webkit-scrollbar-thumb:hover {
    background-color: #7D7D7D;
}

.messages::-webkit-scrollbar-thumb:active {
    background-color: #7D7D7D;
}