.wrapper {
    display: grid;
    grid-template-columns: 10px 1fr 1fr;
}

.wrapper::before {
    margin: auto;
    content: "";
    width: 2px;
    height: 70%;
    background-color: grey;
}

.leftColumn {
    padding-left: 10px;
}

.chatName {
    color: #fff;
    font-size: 20px;
}

.onlineStatus {
    margin-top: 3px;
    font-size: 14px;
    color: grey;
}

.onlineStatus.active {
    color: cornflowerblue;
}

@media (max-width: 1000px) {
    .wrapper {
        grid-template-columns: 1fr 1fr;
    }

    .wrapper::before {
        display: none;
    }

}