.modal {
    width: 100dvw;
    height: 100dvh;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    z-index: 800;
    transition: 0.5s;
    pointer-events: none;
}

.modal.active {
    opacity: 1;
    pointer-events: all;
}

.content {
    padding: 20px;
    border-radius: 12px;
    background-color: #201F20;
    transform: scale(0.5);
    transition: 0.4s all;
    box-sizing: border-box;
}

.content.active {
    transform: scale(1);
}

.closeButton{
    width: 25px;
    height: 25px;
    padding: 0;
    position: absolute;
    right: 20px;
    border-radius: 50%;
    background-color: #3d3d3d;
    transition: 0.2s;
}

.closeButton:hover {
    background-color: #565656;
}