.wrapper {
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logo {
    margin-bottom: 80px;
}

$mobileWidth: 510px;
@media (max-width: $mobileWidth) {
    .wrapper {
        flex-direction: row;
        justify-content: space-between;
    }

    .logo {
        display: none;
    }
}

@media (max-height: 480px) {
    .logo {
        display: none;
    }
}