.wrapper {
    position: relative;
    background-color: #2e333d;
    border-radius: 15px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: max-content;
    padding: 20px;
    margin: 5px;
    justify-content: center;
    flex-direction: column;
    color: white;
}

.title {
    font-size: 24px;
    padding-bottom: 7px;
}