.wrapper {
    background-color: #414149;
    /*background-color: #343142;*/
    padding: 10px;
    margin: 0 25px 20px;
    border-radius: 10px;
    vertical-align: center;
    display: grid;
    grid-template-columns: 40px 1fr;
}

.img {
    width: 25px;
    height: 25px;
}

.input {
    background-color: #414149;
    all: unset;
    width: 100%;
}

input::-webkit-input-placeholder {
    color: #808080;
}

